:host {
    height:160px;
    width: 100%;
    background-color: darkblue;
    display: block;
}

#logo-img {
    height: 140px;
    width: 140px;
    margin: 10px;
    border-radius: 25px;
}

#header-content {
    display: inline-flex;
    width: 100%;
}